/* foreground colors */
/* background colors */
/* panels */
/* border colors */
/* borders */
/** disabled **/
AppWindow {
  background-image: url("/Users/drm2sfy/Workspace/EonTimer/eon_timer/resources/images/default_background.png");
  background-repeat: no-repeat;
  background-position: center; }

.themeable-panel,
QTabWidget.themeable-panel::pane {
  background-color: rgba(255, 255, 255, 0.5); }

.themeable-border,
QTabWidget.themeable-border::pane {
  border: 2px solid white;
  border-radius: 5px; }

QScrollArea.themeable-panel {
  background-color: transparent; }

QLabel {
  color: black; }
  QLabel:disabled {
    color: rgba(0, 0, 0, 0.3); }

QPushButton {
  padding: 3px;
  min-width: 80px;
  color: #1a1a1a;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none; }
  QPushButton:disabled {
    padding: 3px;
    color: rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #d9d9d9;
    border-radius: 4px; }
  QPushButton:checked {
    padding: 3px;
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none; }
    QPushButton:checked:disabled {
      padding: 3px;
      color: black;
      background-color: #e6e6e6;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      outline: none; }
    QPushButton:checked:selected {
      color: #f2f2f2;
      background: #1464a0; }
  QPushButton::menu-indicator {
    bottom: 4px;
    subcontrol-origin: padding;
    subcontrol-position: bottom right; }
  QPushButton:pressed {
    background-color: #e6e6e6;
    border: 1px solid #cccccc; }
    QPushButton:pressed:hover {
      border: 1px solid #148cd2; }
  QPushButton:hover {
    color: #1a1a1a;
    border: 1px solid #148cd2; }
  QPushButton:selected {
    color: #f2f2f2;
    background: #1464a0; }
  QPushButton:hover {
    color: #1a1a1a;
    border: 1px solid #148cd2; }
  QPushButton:focus {
    border: 1px solid #1464a0; }

QComboBox {
  padding-left: 4px;
  padding-right: 36px;
  min-height: 1.5em;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: black;
  background-color: white;
  selection-background-color: #1464a0; }
  QComboBox QAbstractItemView {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px; }
    QComboBox QAbstractItemView:selected {
      color: #f2f2f2;
      background: #1464a0; }
  QComboBox:disabled {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(217, 217, 217, 0.3); }
  QComboBox:hover {
    border: 1px solid #148cd2; }
  QComboBox:focus {
    border: 1px solid #1464a0; }
  QComboBox:on {
    selection-background-color: #1464a0; }
  QComboBox::indicator {
    color: transparent;
    background-color: transparent;
    selection-background-color: transparent;
    selection-color: transparent;
    border: none;
    border-radius: 0; }
    QComboBox::indicator:alternate {
      background: #e6e6e6; }
  QComboBox::item:checked {
    color: white;
    background-color: #1464a0; }
  QComboBox::item:selected {
    border: 1px solid #1464a0; }
  QComboBox::drop-down {
    width: 12px;
    border-left: 1px solid #d9d9d9;
    subcontrol-origin: padding;
    subcontrol-position: top right; }
    QComboBox::drop-down:disabled {
      border-left: 1px solid rgba(217, 217, 217, 0.3); }
  QComboBox::down-arrow {
    width: 8px;
    height: 8px;
    image: url("/Users/drm2sfy/Workspace/EonTimer/eon_timer/resources/icons/caret-down.png"); }
    QComboBox::down-arrow:disabled {
      image: url("/Users/drm2sfy/Workspace/EonTimer/eon_timer/resources/icons/caret-down-disabled.png"); }

QAbstractSpinBox {
  padding: 2px 4px 2px 4px;
  color: black;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 4px; }
  QAbstractSpinBox:disabled {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(217, 217, 217, 0.3); }
  QAbstractSpinBox:up-button {
    margin: 1px;
    margin-bottom: -1px;
    width: 12px;
    background-color: transparent #e6e6e6;
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    subcontrol-origin: border;
    subcontrol-position: top right; }
    QAbstractSpinBox:up-button:disabled {
      border-left: 1px solid rgba(217, 217, 217, 0.3);
      border-bottom: 1px solid rgba(217, 217, 217, 0.3); }
  QAbstractSpinBox::up-arrow, QAbstractSpinBox::up-arrow:hover, QAbstractSpinBox::up-arrow:off {
    width: 8px;
    height: 8px;
    image: url("/Users/drm2sfy/Workspace/EonTimer/eon_timer/resources/icons/caret-up.png"); }
  QAbstractSpinBox::up-arrow:disabled {
    image: url("/Users/drm2sfy/Workspace/EonTimer/eon_timer/resources/icons/caret-up-disabled.png"); }
  QAbstractSpinBox:down-button {
    width: 12px;
    margin: 1px;
    margin-top: -1px;
    background-color: transparent #e6e6e6;
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    subcontrol-origin: border;
    subcontrol-position: bottom right; }
    QAbstractSpinBox:down-button:disabled {
      border-left: 1px solid rgba(217, 217, 217, 0.3);
      border-top: 1px solid rgba(217, 217, 217, 0.3); }
  QAbstractSpinBox::down-arrow, QAbstractSpinBox::down-arrow:hover, QAbstractSpinBox::down-arrow:off {
    width: 8px;
    height: 8px;
    image: url("/Users/drm2sfy/Workspace/EonTimer/eon_timer/resources/icons/caret-down.png"); }
  QAbstractSpinBox::down-arrow:disabled {
    image: url("/Users/drm2sfy/Workspace/EonTimer/eon_timer/resources/icons/caret-down.png"); }
  QAbstractSpinBox:hover {
    color: #1a1a1a;
    border: 1px solid #148cd2; }
  QAbstractSpinBox:focus {
    border: 1px solid #1464a0; }
  QAbstractSpinBox:selected {
    color: #f2f2f2;
    background: #1464a0; }

QTabWidget {
  padding: 2px;
  selection-background-color: #e6e6e6; }
  QTabWidget::pane {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    border: 1px solid #d9d9d9;
    border-radius: 4px; }
    QTabWidget::pane:selected {
      background-color: #f2f2f2;
      border: 1px solid #1464a0; }
  QTabWidget::tab-bar {
    left: 5px; }

QTabBar {
  margin: 0;
  padding: 2px;
  border: none;
  border-radius: 4px; }

QTabBar::tab:top {
  min-width: 2.5em;
  margin-left: 2px;
  padding: 2px 4px 2px 4px;
  color: #1a1a1a;
  background-color: #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
  QTabBar::tab:top:selected {
    color: #1a1a1a;
    background-color: white;
    border-bottom: 3px solid #1464a0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    QTabBar::tab:top:selected:disabled {
      color: black;
      background-color: #f2f2f2;
      border-bottom: 3px solid #14506e; }
  QTabBar::tab:top:not(selected) {
    margin-top: 2px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6; }
    QTabBar::tab:top:not(selected):disabled {
      color: black;
      background-color: #e6e6e6;
      border-bottom: 3px solid #e6e6e6; }
    QTabBar::tab:top:not(selected):hover {
      padding-left: 4px;
      padding-right: 4px;
      border: 1px solid #148cd2;
      border-bottom: 3px solid #148cd2; }
