QTabWidget.themeable::pane, QGroupBox.themeable {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    border-radius: 5px;
}

QScrollArea.themeable {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.bg-transparent-white {
    background-color: rgba(255, 255, 255, 0.5);
}
