$theme-panel-border-color: white;
$theme-panel-background-color: rgba(255, 255, 255, 0.5);

$theme-button-color: black;
$theme-button-background-color: white;

$theme-primary-button-color: black;
$theme-primary-button-background-color: rgb(190, 230, 249);

$theme-control-color: black;
$theme-control-background-color: white;

$theme-focus: rgb(3, 159, 211);